@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background: rgb(0, 0, 0);
}

h1, h2, h3, p,
a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.home-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  background: transparent;
  color: white;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.home-button:hover {
  background: gray;
  color: rgb(20, 191, 197);
  transition: 0.5s;
}

.tutors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

.tutor-card {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1rem;
  width: 200px;
  color: #fff;
}

.favorite-list {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1rem;
  margin: 2rem auto;
  width: 80%;
  color: #fff;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
